<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
	
  <system.webServer>
    <handlers>
      <!--<add name="ascx" verb="*" path="*.ascx" type="nilnul.net.ctrl._web.GivenIdToStr,nilnul.net.ctrl._web(serveCtrlsByHandler120526"/>-->
      <!--<add name="ascx" verb="*" path="*.ascx" type="nilnul.net.ctrl._web.GivenIdByCtrlToStr,nilnul.net.ctrl._web(serveCtrlsByHandler120526"/>-->
      <!--<add name="ascx" verb="*" path="*.ascx" type="nilnul.net.ctrl.GivenIdByPageToStream,nilnul.net.ctrl"/>-->
      <add name="ascx" verb="*" path="*.ascx" type="nilnul.net.ctrl.Ctrl,nilnul.net.ctrl"/>
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".ascx"/>
          <add allowed="true" fileExtension=".ascx"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <modules/>
  </system.webServer>


</configuration>
